version: '3.8'
services:

  client-service:
    build:
      context: ./../front-end
      dockerfile: ./../front-end/front-end-service.dockerfile
    restart: always
    ports:
      - "8080:8080"
    deploy:
      mode: replicated
      replicas: 1