services:

  back-end-service:
    build:
      context: ./../back-end
      dockerfile: ./../back-end/back-end-service.dockerfile
    restart: always
    ports:
      - "8080:8080"
    deploy:
      mode: replicated
      replicas: 1


  front-end-service:
    build:
      context: ./../front-end
      dockerfile: ./../front-end/front-end-service.dockerfile
    restart: always
    ports:
      - "3000:3000"
    deploy:
      mode: replicated
      replicas: 1